<!DOCTYPE html>

<html lang="en" style="" class=" js no-touch csstransforms3d csstransitions video csstransforms"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Breast Cancer self exam</title>

	<meta property="og:title" content="Breast Cancer Self Exam">

	<!-- mobile settings -->
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">

	<!-- WEB FONTS -->
	<link href="static/Algo-test/css" rel="stylesheet" type="text/css">
	<!-- CORE CSS -->
	<link href="static/Algo-test/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="static/Algo-test/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="static/Algo-test/owl.carousel.css" rel="stylesheet" type="text/css">
	<link href="static/Algo-test/owl.theme.css" rel="stylesheet" type="text/css">
	<link href="static/Algo-test/owl.transitions.css" rel="stylesheet" type="text/css">
	<link href="static/Algo-test/animate.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="static/Algo-test/smoothness.jquery-ui.min.css">
	<!-- THEME CSS -->
	<link href="static/Algo-test/essentials.css" rel="stylesheet" type="text/css">
	<link href="static/Algo-test/layout.css" rel="stylesheet" type="text/css">
	<link href="static/Algo-test/layout-responsive.css" rel="stylesheet" type="text/css">
	<link href="static/Algo-test/darkblue.css" rel="stylesheet" type="text/css">
	<link href="static/Algo-test/test-common.css" rel="stylesheet" type="text/css">
	<!-- Morenizr -->
	<script type="text/javascript" src="static/Algo-test/modernizr.min.js"></script>
	<script src="static/Algo-test/api.js"></script>
	<!-- G+ API -->
	<script src="static/Algo-test/client_platform.js" async="" defer="" gapi_processed="true"></script>
	<script type="text/javascript">
		function onSigninCallback(e){
			signinCallback(e);
		}
	</script>
	<style>
		.btn-disabled {
			cursor: not-allowed;
			filter: alpha(opacity=65);
			-webkit-box-shadow: none;
			box-shadow: none;
			opacity: .65;
		}
	</style>

<body class="boxed"><div id="MathJax_Message" style="display: none;">
</div><div style="visibility: hidden; overflow: hidden; position: absolute; top: 0px; height: 1px; width: auto; padding: 0px; border: 0px; margin: 0px; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal;"><div id="MathJax_Hidden"></div></div>

<!-- TOP NAV -->
<header id="topNav" style="height: 81px;"><!-- remove class="topHead" if no topHead used! -->
	<div class="container">
		<!-- Mobile Menu Button -->
		<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse" style="margin-top: 8px;">
			<i class="fa fa-bars"></i>
		</button>
		<!-- Logo text or image -->
		<a class="logo" href="#" style="margin-top: 0px; line-height: 50px;">
			<img src="static/Algo-test/logo.png">
		</a>
		<!-- Top Nav -->
		<div class="navbar-collapse nav-main-collapse collapse pull-right" style="margin-top: 16px;">
			<nav class="nav-main mega-menu">
							</nav>
		</div>
		<!-- /Top Nav -->

	</div>
</header>
<span id="header_shadow" style="top: 80px;"></span>
<!-- /TOP NAV -->


<!-- WRAPPER -->
<div id="wrapper" style="margin-top: 0px;">
	<!-- PAGE TITLE -->
	<header id="page-title">

		<div class="container">
			<h1> Breast Cancer Self Exam</h1>
		</div>
	</header>

	<section id="contact" class="container">
		<section id="TestSpace">

			
									<div class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<strong>Please answer all the questions carefully !
						</strong> 
						<br>
						<strong> If you see any of the following symthoms, check it </strong>
					</div>
				
				<form method="POST" id="myform" action="/results">
					<div id="breastcancertest">

								<div class="row" style="margin-left:0;margin-right:0;margin-top: 5px;">
								<div class="col-md-12 white-row resizable-text">
									<b>Question 1:</b>&nbsp;&nbsp;
									Begin by looking at your breasts in the mirror with your shoulders straight and your arms on your hips.
									<img src="static/images/1.jpg" alt="">
.								</div>


								<div class="row " style="margin:5px 0">
									<div class="col-md-1 text-center resizable-text">
										<label>
											<input type="checkbox" name="no1" value="A">
										</label>

									</div>
									<div class="col-md-11 resizable-text">
										<label> Dimpling, puckering, or bulging of the skin </label>
									
									</div>
								</div>

								<div class="row " style="margin:5px 0">
									<div class="col-md-1 text-center resizable-text">
										<label>
											<input type="checkbox" name="no1" value="B">
										</label>

									</div>
									<div class="col-md-11 resizable-text">
										<label> A nipple that has changed position or an inverted nipple (pushed inward instead of sticking out) </label>
									</div>
								</div>

								
								
								<div class="row " style="margin:5px 0">
									<div class="col-md-1 text-center resizable-text">
										<label>
											<input type="checkbox" name="no1" value="C">
										</label>

									</div>
									<div class="col-md-11 resizable-text">
										<label> Redness, soreness, rash, or swelling </label>
									</div>
								</div>
								

								
								</div>


							
								



								<div class="row" style="margin-left:0;margin-right:0;margin-top: 5px;">
									<div class="col-md-12 white-row resizable-text">
										<b>Question 2:</b>&nbsp;&nbsp;
										Now, raise your arms and look for the same changes. 
										
										<img src="static/images/2.jpg" alt="">
	.								</div>
	
	
									<div class="row " style="margin:5px 0">
										<div class="col-md-1 text-center resizable-text">
											<label>
												<input type="checkbox" name="no2" value="A">
											</label>
	
										</div>
										<div class="col-md-11 resizable-text">
											<label>  While you're at the mirror, look for any signs of fluid coming out of one or both nipples (this could be a watery, milky, or yellow fluid or blood) </label>
										</div>
									</div>
                                     </div>    	




								  
									 <div class="row" style="margin-left:0;margin-right:0;margin-top: 5px;">
										
										<div class="col-md-12 white-row resizable-text">
											<b>Question 3:</b>&nbsp;&nbsp;
											While lying down, use right hand for left breast , left hand for right breast . Use a firm, smooth touch with the first few finger pads of your hand, keeping the fingers flat and together. Use a circular motion, about the size of a quarter.

                                            Cover the entire breast from top to bottom, side to side-from your collarbone to the top of your abdomen, and from your armpit to your cleavage.

                                            Follow a pattern to be sure that you cover the whole breast.Use medium/light pressure start from nipple to ribcage. 
											<img src="static/images/3.jpg" alt="">
		.								</div>
		
		
										<div class="row " style="margin:5px 0">
											<div class="col-md-1 text-center resizable-text">
												<label>
													<input type="checkbox" name="no3" value="A">
												</label>
		
											</div>
											<div class="col-md-11 resizable-text">
												<label> A lump in the breast. </label>
											</div>
										</div>
										 </div>    	
	


















































							</div>
											</div>
					
					
					<div id="bottom-test" style="margin-top: 10px;">
						<div class="row text-center" style="margin-left:0;margin-right:0;">
							<div class="col-md-12">
								<div style="display:inline-block;">
									<button class="btn btn-primary" style="width:130px;" id="submit_test" type="submit" name="Submit" onclick="this.disabled=true;form.submit();">Submit</button>
								</div>
							</div>
						</div>
					</div>
				
				</form>

					</section>
		<div id="domMessage" style="display:none;">
			<h1 class="margin-top30">Click here to resume the test</h1>
		</div>
		
		<div id="MQWait2" class="row" style="position:absolute;left:45%;display:none;">
			<div class="col-md-12  text-center">
				<img class="animated infinite pulse margin-top50 margin-bottom50" src="./images/favicon.ico" width="100"  style="opacity: 0.7">
			</div>
		</div>
	</section>
</div>
<!-- /WRAPPER -->

<!-- FOOTER -->
<footer>
	<!-- copyright , scrollTo Top -->
	<div class="footer-bar">
		<div class="container">
		</div>
	</div>
	<!-- copyright , scrollTo Top -->
</footer>
<!-- /FOOTER -->

<!-- JAVASCRIPT FILES -->
<script type="text/javascript" src="static/Algo-test/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="static/Algo-test/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="static/Algo-test/jquery.cookie.js"></script>
<script type="text/javascript" src="static/Algo-test/jquery.appear.js"></script>
<script type="text/javascript" src="static/Algo-test/jquery.isotope.js"></script>
<script type="text/javascript" src="static/Algo-test/masonry.js"></script>

<script type="text/javascript" src="static/Algo-test/bootstrap.min.js"></script>
<script type="text/javascript" src="static/Algo-test/owl.carousel.min.js"></script>
<script type="text/javascript" src="static/Algo-test/jquery.stellar.min.js"></script>
<script type="text/javascript" src="static/Algo-test/jquery.knob.js"></script>
<script type="text/javascript" src="static/Algo-test/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="static/Algo-test/topnav_register.js"></script>

<script src="static/Algo-test/blockUI.js"></script>
<script src="static/Algo-test/jquery.plugin.min.js"></script>
<script src="static/Algo-test/jquery.countdown.min.js"></script>

<script type="text/javascript" src="static/Algo-test/jquery-ui.min.js"></script>
<script type="text/javascript" src="static/Algo-test/scripts.js"></script>

<script type="text/javascript">	

	function submitTest() {
		$('#myform').submit();
	}

	
</script>


<div role="log" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div><div style="position: absolute; width: 0px; height: 0px; overflow: hidden; padding: 0px; border: 0px; margin: 0px;"><div id="MathJax_Font_Test" style="position: absolute; visibility: hidden; top: 0px; left: 0px; width: auto; padding: 0px; border: 0px; margin: 0px; white-space: nowrap; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; font-size: 40px; font-weight: normal; font-style: normal; font-family: MathJax_Size4, sans-serif;"></div></div><div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; width: 0px; height: 0px;"><div></div></div></div></body></html>